{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h2>Livres</h2>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Année Edition</th>
            <th>Nombre de pages</th>
        </tr>    
    </thead>
    <tbody>
        {% if livres %}
            {% for livre in livres %}
            <tr>
                <td><a href="{{ path('app_front_livre_show', {id: livre.id}) }}">{{ livre.titre }}</a></td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.anneeEdition }}</td>
                <td>{{ livre.nombrePages }}</td>
                </tr>
            {% endfor %}

        {% endif %}
    </tbody>
</table>

{% endblock %}
