{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<h2> liste des users par email, trié par email alphabetique </h2>

{% for user in users %}
<p> {{ user.email }} </p>

{% endfor %}

<h2> données de l'utilisateur id=1 </h2>

<p> email :  {{ user1.email }} </p>
<p> enabled : {{ user1.enabled }} </p>
<p> role : {{ user1.roles[0] }} </p>

<h2> données de l'utilisateur qui a le mail foo.foo@example.com</h2>

{% for user in userFooFoo %}

<p> id : {{user.id}} </p>
<p> enabled : {{user.enabled}} </p>
<p> role : {{user.roles[0]}} <p/>
 
{% endfor %}

<h2> liste des users qui ont le ROLE_USER, trié par email alphabetique</h2>
{% for user in roleUser %}
<p> {{ user.email }} </p>

{% endfor %}

<h2> liste des users inactifs </h2>
{% for user in userInactifs %}
<p> {{ user.email }} </p>

{% endfor %}



{% endblock %}
